<section class="content-header">
    <h1>
        Todos os Restaurantes
        <a (click)="toggleSeach()" class="search-link pull-right">
            <span *ngIf="iptSearch.value"><small>{{iptSearch.value}}</span> <i class="fa fa-search"></i>
        </a>
    </h1>

    <!--search bar-->
    <div class="row">
        <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
            <form [formGroup]="searchForm">
                <div class="form-group">
                    <input type="text" class="form-control" #iptSearch formControlName="searchControl" placeholder="O que você está procurando?">
                    <!--através da seguinte sintaxe #exemplo é possivel criar template verbo no angular para referenciar valores de tags como input no html-->
                </div>
            </form>
        </div>
    </div>
</section>


<section class="content">

    <div class="row">
        <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
            <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
        </div>
        <div *ngIf="restaurants?.lenght === 0" class="col-xs-12">
            <p class="lead text-center">
                Não Foram encontrados itens para sua busca!
            </p>
        </div>
    </div>
</section>